@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --nav-icon-h:35px;
  --nav-m:20px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.nav{
  position: fixed;
  top: 0;
  width: 100%;
  margin: 5px 0; 
}
.nav h1{
  font-size: 1.75rem;
  margin: 0 15px;
}
.landscope img{
  z-index: 1;
}
main{
  margin:0;
  height: 100%;
}
.diagonal{
  color: white;
  clip-path: polygon(0 10%, 100% 0, 100% 90%, 0 100%);
  padding: 12rem 0;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  margin-left: auto;
}
.unique{
  display:grid;
  width: 100%;
  gap: 6rem;
  grid-template-columns: repeat(auto-fit , minmax(300px, 1fr));
}
.feature{
  border-radius: 20px;
  text-align: center;
  padding: 10px;
}
.outer{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 20px;
}